{% extends "homebase.html" %}

{% block title %} {{categorydata.title}} {% endblock %}
{% block keywords %}{{categorydata.title}} {% endblock %}
{% block description %} {{categorydata.title}} {% endblock %}

{% block head %}
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
{% endblock %}

{% block slider %}

{% endblock %}


{% block content %}
  		<!--/banner-->
	<div class="banner-inner" id="home">
		<!-- header -->

		<!-- //header -->
			<!-- banner-->
			<div class="wrapper-inner">
				<h3 class="logo text-center">
					<a class="navbar-brand" href="index.html">
						<i class="fas fa-cubes"></i> Hwaiting</a>
				</h3>
			</div>
		</div>
		<!-- //banner -->
		<!--//nav-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="#">Cars</a>
			</li>
			<li class="breadcrumb-item active">{{categorydata.title}}</li>
		</ol>
		<!--/main-->
	<section class="banner-bottom-agile-w3ls">
		<div class="container">
			<h3 class="tittle-w3ls text-center">{{categorydata.title}}</h3>


			<div class="row inner-sec-w3layouts-agileits">
				{% for dl in cars %}
				<div class="col-md-3 gallery-grids">

					<a class="w3 wow zoomIn animated" href="/car/{{dl.id}}/{{dl.slug}}" data-lightbox="example-set" >
						<img src="{{dl.image.url}}" class="img-fluid rounded zoom-img" alt="" style="max-width: 100%;height:200px"  />
						<div class="gallery-b-wrapper">
							<h5>{{ dl.title}}</h5>
						</div>
					</a>
				</div>
					{% endfor %}
			</div>

		</div>
	</section>
	<!--//main-->

{% endblock %}
{% block footer %}
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
{% endblock %}



