<!-- //banner -->
{% load static %}
<!--/banner-bottom-agile-w3ls-->
<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <h3 class="tittle-w3ls text-center">Our History</h3>
        <div class="row inner-sec-w3layouts-agileits">
            <div class="col-lg-6 about-img">
                <img src="{% static 'images/ust.jpg' %}" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-6 about-info text-left">
                <h4 class="sub-hd mb-4">We give the best</h4>
                <p>At hoppa we've made the process of searching, comparing and booking your transport as simple as possible. We compare 1000s of providers from all over the world to help you make the right choice.
                </p>
                <p class="sup-para mt-2">We have now integrated 1000s of providers so that wherever your journey, and whatever your purpose for travel, you can select the right provider for a ride at home or abroad.

Our journey has been a special one, and it's not over yet! We’ve helped over 30 million customers reach their destination and we're ready to help with your next ride.
</p>
                <div class="view my-4">
                    <a href="single.html" class="btn btn-primary read-m" data-toggle="modal"
                       data-target="#exampleModalCenter">View More</a>
                </div>
                <img src="{% static 'images/alt.jpg' %}" class="img-fluid rounded" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Title Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/banner3.jpg' %}" class="img-fluid rounded" alt="">
                <h4>Sub title here</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--Recommended for You-->
<section class="testimonials banner-bottom-agile-w3ls">
    <div class="container">
        <h3 class="tittle-w3ls text-center">Recommended for You</h3>
        <div class="inner-sec-w3layouts-agileits">
            <div class="owl-carousel owl-theme">
                {% for dl in daycar %}
                <div class="item">
                    <div class="icon-test">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="card feature text-left" style="margin-top:20px">
                        <img style="max-width: 100%;height:200px" src="{{dl.image.url}}" alt=" " class="img-fluid rounded"/>
                        <h5 class="card-title">{{ dl.title}} </h5>
                        <p class="card-text">{{ dl.description}} </p>
                        <div class="view my-4">
                            <a href="/car/{{dl.id}}/{{dl.slug}}" class="btn btn-primary read-m">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!--LASTEST CARS-->
<section class="testimonials banner-bottom-agile-w3ls">
    <div class="container">
        <h3 class="tittle-w3ls text-center">What is New?</h3>
        <div class="inner-sec-w3layouts-agileits">
            <div class="owl-carousel owl-theme">
                {% for dl in lastcar %}
                <div class="item">
                    <div class="icon-test">
                        <i class="fas fa-clock" style="color: #d00000 !important "></i>
                    </div>
                    <div class="card feature text-left" style="margin-top:20px;">
                        <img style="max-width: 100%;height:200px" src="{{dl.image.url}}" alt=" " class="img-fluid rounded"/>
                        <h5 class="card-title">{{ dl.title}} </h5>
                        <p class="card-text">{{ dl.description}} </p>
                        <div class="view my-4">
                            <a href="/car/{{dl.id}}/{{dl.slug}}" class="btn btn-primary read-m">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<!--/services-->
<section class="banner-bottom-agile-w3ls services">
    <div class="container">
        <h3 class="tittle-w3ls cen text-center">Moving Services</h3>
        <div class="row inner-sec-w3layouts-agileits">
            <div class="col-lg-6 service-in text-center">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-home"></i>
                        <h5 class="card-title">Local Moving</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod
                            tempor incididunt ut labore et dolore magna
                            aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco.</p>
                        <div class="view my-4">
                            <a href="single.html" class="btn btn-primary read-m" data-toggle="modal"
                               data-target="#exampleModalCenter">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 service-in  text-center">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-truck"></i>
                        <h5 class="card-title">Long Distance Moves</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod
                            tempor incididunt ut labore et dolore magna
                            aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco</p>
                        <div class="view my-4">
                            <a href="single.html" class="btn btn-primary read-m" data-toggle="modal"
                               data-target="#exampleModalCenter">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 service-in  text-center mt-4">
                <div class="card">
                    <div class="card-body">
                        <i class="fab fa-fly"></i>
                        <h5 class="card-title">Commercial Moving</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod
                            tempor incididunt ut labore et dolore magna
                            aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco.</p>
                        <div class="view my-4">
                            <a href="single.html" class="btn btn-primary read-m" data-toggle="modal"
                               data-target="#exampleModalCenter">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 service-in text-center mt-4">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-bus"></i>
                        <h5 class="card-title">Storage Services</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod
                            tempor incididunt ut labore et dolore magna
                            aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco..</p>
                        <div class="view my-4">
                            <a href="single.html" class="btn btn-primary read-m" data-toggle="modal"
                               data-target="#exampleModalCenter">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//services-->

<!--/RANDOM-->
<section class="banner-bottom-agile-w3ls">
    <div class="feature-main container-fluid text-left">
        <div class="row">
            <div class="col-lg-3 feature text-left">
                <h3>Today's Choices</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor
                    incididunt ut labore et dolore magna..</p>
                <div class="view my-4">
                    <a href="single.html" class="btn btn-primary read-m" data-toggle="modal"
                       data-target="#exampleModalCenter">Read More</a>
                </div>
            </div>
            {% for dl in randomcar %}

            <div class=" col-lg-3 card feature text-left" style="margin-top:20px">
                <img style="max-width: 100%;height:200px"   src="{{dl.image.url}}" alt=" " class="img-fluid rounded"/>
                <h5 class="card-title">{{ dl.title}} </h5>
                <p class="card-text">{{ dl.description}} </p>
                <div class="view my-4">
                    <a href="/car/{{dl.id}}/{{dl.slug}}" class="btn btn-primary read-m">Read More</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--//RANDOM-->
<!--/areas-->
<section class="banner-bottom-agile-w3ls areas text-center">
    <div class="container">
        <h3 class="tittle-w3ls cen">Worldwide Centres</h3>
        <div class="row inner-sec-w3layouts-agileits">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco..</p>
        </div>
    </div>
</section>
<!--//areas-->
<!--/testimonials-->
<section class="testimonials banner-bottom-agile-w3ls">
    <div class="container">
        <h3 class="tittle-w3ls text-center">What our clients say</h3>
        <div class="inner-sec-w3layouts-agileits">
            <div class="owl-carousel owl-theme">

                     {% for dl in comment %}
                         <div class="item">
                            <div class="icon-test">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="feedback-info" >
                                <div class="feedback-top p-4" style="min-height: 150px;">
                                    <p> {{dl.comment}} </p>
                                </div>
                                <div class="feedback-grids" style="margin-top: 0px;">
<!--                                    <div class="feedback-img">-->
<!--                                      <img src="{{dl.user.image.url}}" style="  height: 150px; float: left"   class=" mx-auto d-block " alt="">-->

<!--                                    </div>-->
                                    <div class="feedback-img-info">
                                        <h5>{{dl.user.first_name}} {{dl.user.last_name}}</h5>
                                        <p>		   <a href="/car/{{dl.car_id}}/{{dl.car.slug}}" style="text-decoration: none; color: black">{{dl.car.title}} </a>
                                            <span></span>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>


            {% endfor %}


            </div>
        </div>
    </div>
</section>
<!--//testimonials-->