
 {% block head %}

{% endblock %}


<header>


	<nav class="navbar navbar-expand-lg navbar-light top-header" >

		<button class="navbar-toggler mx-auto" type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- search -->
		<div class="search">
			<div class="cd-main-header">
				<ul class="cd-header-buttons">
					<li>
						<a class="cd-search-trigger" href="#cd-search">
							<span></span>
						</a>
					</li>
				</ul>
			</div>
			<div id="cd-search" class="cd-search">
				<form action="/search/" method="post"  style="background:#000;  font-family: 'Poppins', sans-serif; ">
					{%csrf_token %}
					<select name="filter" id="cars" style="background:#000;color:#fff;
														margin-left:50px; margin-top:10px;  width: 235px; padding-left:10px; padding:10px">
						{%load mptt_tags %}
						<option value="0">All Categories</option>
						{% recursetree category %}
						  {% if  node.is_leaf_node %}  <option value="{{node.id}}">{{node.title}}</option>  {% endif %}
 								{% if not  node.is_leaf_node %}
									<optgroup label="{{node.title}}">
									  {{children }}

									</optgroup>
								{% endif %}

						  	{% endrecursetree %}

					  </select>
					{%csrf_token %}
					<input name="query" id="query" type="search" placeholder="Click enter after typing...">


				</form>

			</div>

		</div>
			<!--auto search-->

		<script>

		  $(function() {
			$("#query").autocomplete({
			  source: "/search_auto/",
			  select: function (event, ui) { //item selected
				AutoCompleteSelectHandler(event, ui)
			  },
			  minLength: 2,
			});
		  });

		  function AutoCompleteSelectHandler(event, ui)
		  {
			var selectedObj = ui.item;
		  }

		</script>
	<!--auto search-->

		<!-- //search -->

				<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link ml-lg-0" href="/home">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/aboutus">About</a>
				</li>
				 <li class="nav-item dropdown">

					<a class="nav-link" href="/references">References</a>
				</li>
				<li class="nav-item dropdown">
					 {% load mptt_tags %}
					<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							Cars
					</a>

					{% recursetree category %}
					  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% recursetree category %}

							<a class="dropdown-item" {% if node.is_leaf_node %} href="/category/{{node.id}}/{{node.slug}}"  {% endif %}>{{ node.title }}</a>
							  {% if not node.is_leaf_node %}
							  <a class="dropdown-item" href="/category/{{node.id}}/{{node.slug}}" >{{ children }}</a>

							  {% endif %}


						  	{% endrecursetree %}

					  </div>

					 {% endrecursetree %}
				</li>








				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
				{% if user.id is not None %}

				<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false"

							>
								{{user.first_name}}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" href="/user">Profile</a>
								<a class="dropdown-item text-center" href="/user">Cart</a>
								<a class="dropdown-item text-center" href="/logout">Logout</a>

							</div>
							<li class="nav-item">
								<a class="nav-link" href="/reservation"><i class="fas fa-cart-plus fa-lg"></i></a>
<!--								<span>{{request.session.cart_items}}</span>-->
							</li>

				{% else %}
				<li class="nav-item">
					<a class="nav-link " href="/login/">Login </a>

				</li>
				<li class="nav-item">
					<a class="nav-link " href="/join/">Join </a>

				</li>
				 {% endif %}






			</ul>

		</div>
	</nav>
</header>
        {% block footer %}
<script>

  $(function() {
    $("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>

<script>
var x, i, j, l, ll, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  ll = selElmnt.length;
  /*for each element, create a new DIV that will act as the selected item:*/
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /*for each element, create a new DIV that will contain the option list:*/
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < ll; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      /*when the select box is clicked, close any other select boxes,
      and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
  /*a function that will close all select boxes in the document,
  except the current select box:*/
  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>
{% endblock %}
