
<header>

	<nav class="navbar navbar-expand-lg navbar-light top-header" >

		<button class="navbar-toggler mx-auto" type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- search -->
		<div class="search">
			<div class="cd-main-header">
				<ul class="cd-header-buttons">
					<li>
						<a class="cd-search-trigger" href="#cd-search">
							<span></span>
						</a>
					</li>
				</ul>
			</div>
			<div id="cd-search" class="cd-search">
				<form action="/search/" method="post">
					{%csrf_token %}
					<input name="query" type="search" placeholder="Click enter after typing...">
				</form>
			</div>
		</div>
		<!-- //search -->

				<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link ml-lg-0" href="/home">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/aboutus">About</a>
				</li>
				 <li class="nav-item dropdown">

					<a class="nav-link" href="/references">References</a>
				</li>
				<li class="nav-item dropdown">
					 {% load mptt_tags %}
					<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							Cars
					</a>

					{% recursetree category %}
					  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% recursetree category %}

							<a class="dropdown-item" {% if node.is_leaf_node %} href="/category/{{node.id}}/{{node.slug}}"  {% endif %}>{{ node.title }}</a>
							  {% if not node.is_leaf_node %}
							  <a class="dropdown-item" href="/category/{{node.id}}/{{node.slug}}" >{{ children }}</a>

							  {% endif %}


						  	{% endrecursetree %}

					  </div>

					 {% endrecursetree %}
				</li>








				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>





			</ul>

		</div>
	</nav>
</header>
