<div id="wrapper">
	{% load static %}
	<!-- Slideshow 1 -->
	<div class="rslides_container">
		<ul class="rslides" id="slider1">
			<li>
				<div class="banner-img">
					<div class="banner-info text-center">
						<h3 class="logo">
							<a class="navbar-brand" href="index.html">
								<i class="fas fa-cubes"></i> Transco</a>
						</h3>
						<h4>Let us move you to your new life.</h4>
						<div class="banner-form">
							<form action="#" method="post">
								<div class="row">
									<div class="col-md-3">
										<input type="text" class="form-control" name="name" placeholder="Name" required="">
									</div>
									<div class="col-md-3">
										<select class="form-control option">
											<option>Transport From</option>
											<option>Albania</option>
											<option>Belgium</option>
											<option>Cameroon</option>
											<option>Dominica</option>
											<option>France</option>
											<option>Jersey</option>
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control option">
											<option>Transport To</option>
											<option>Colombia</option>
											<option>Indonesia</option>
											<option>Japan</option>
											<option>Lebanon</option>
											<option>Luxembourg</option>
											<option>Montserrat</option>
										</select>
									</div>
									<div class="col-md-3">
										<button type="submit" class="btn btn-primary submit">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-img one">
					<div class="banner-info text-center">
						<h3 class="logo">
							<a class="navbar-brand" href="index.html">
								<i class="fas fa-cubes"></i> Transco</a>
						</h3>
						<h4>Let us move you to your new life.</h4>
						<div class="content">
							<div class="simply-countdown-custom" id="simply-countdown-custom"></div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-img two">
					<div class="banner-info text-center">
						<h3 class="logo">
							<a class="navbar-brand" href="index.html">
								<i class="fas fa-cubes"></i> Transco</a>
						</h3>
						<h4>Let us move you to your new life.</h4>
						<div class="banner-form">
							<form action="#" method="post">
								<div class="row">
									<div class="col-md-3">
										<input type="text" class="form-control" name="name" placeholder="Name" required="">
									</div>
									<div class="col-md-3">
										<select class="form-control option">
											<option>Transport From</option>
											<option>Albania</option>
											<option>Belgium</option>
											<option>Cameroon</option>
											<option>Dominica</option>
											<option>France</option>
											<option>Jersey</option>
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control option">
											<option>Transport To</option>
											<option>Colombia</option>
											<option>Indonesia</option>
											<option>Japan</option>
											<option>Lebanon</option>
											<option>Luxembourg</option>
											<option>Montserrat</option>
										</select>
									</div>
									<div class="col-md-3">
										<button type="submit" class="btn btn-primary submit">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</li>


		</ul>
	</div>
</div>