<div id="wrapper">
	{% load static %}
	<!-- Slideshow 1 -->
	<div class="rslides_container">
		<ul class="rslides" id="slider1">


				{% for dl in sliderdata %}
			<li>
				<div class="banner-img one" style="background: url({{dl.image.url}}) no-repeat center">
					<div class="banner-info text-center">
						<h3 class="logo">
							<a class="navbar-brand" href="/car/{{dl.id}}/{{dl.slug}}">
								<i class="fas fa-cubes" ></i> {{ dl.title}}</a>
						</h3>
<!--						<h4> {{ dl.description}} </h4>-->
						<div class="content">
							<div class="simply-countdown-custom" id="simply-countdown-custom"></div>
						</div>
					</div>
				</div>
			</li>

			{% endfor %}








		</ul>
	</div>
</div>