{% extends "homebase.html" %}

{% block title %} Profile {% endblock %}
{% block keywords %} HOME PAGE {% endblock %}
{% block description %} HOME PAGE {% endblock %}

{% block head %}


{% endblock %}

{% block slider %}

{% endblock %}


{% block content %}

	<div class="banner-inner" id="home">

		<!-- banner-text -->
		<div class="wrapper-inner">
			<h3 class="logo text-center">
				<a class="navbar-brand" href="index.html">
					<i class="fas fa-cubes"></i> Hwaiting</a>


			</h3>
		</div>
	</div>

	<section class="banner-bottom-agile-w3ls">
		<div class="container">
			<div class="contact_grid_right">
				<form action="#" method="post">
					<div class="row contact_left_grid">
						<div class="col-md-8 con-left">
							<label >UPDATE PROFILE</label>
							{% if messages %}

								{% for message in messages %}
									<div class="col-md-8 ">
										<div style="color: #d90429; font-size: medium" role="alert">
											{{ message|safe }}
										</div>
									</div>
								{% endfor %}

							{% endif %}



						<br>
						<br>


							      <form  method="post"  >
                                {%csrf_token %}
							{% for field in form %}
							<div class="form-group">
								<label for="validationCustom01 my-2">{{field.label_tag}}</label>
								  {{field}}
								{% if field.help_text %}
									<small>   {{field.help_text}}</small>
								{% endif %}

								{% for error in field.errors %}
									<small>   {{error}}</small>
								{% endfor %}
							</div>


							{% endfor %}
                     		<div class="row contact_left_grid">

								<div class="col-md-4 con-left">
										<input class="form-control" type="submit" value="Change Password">
								</div>
							</div>

                        </form>
						</div>

							<div class="col-md-4 con-right">

									<label>User Panel</label>

									{% include "user_panel.html" %}

							</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--//main-->

{% endblock %}



